body {
    background-color: gray;
    min-width: 760px;
    max-width: 1040px;
}

/*Styling of overflow*/
#verflow {
    color: rgb(255, 0, 98);
    font-family: cursive;
}

.overflow {
    float: right;
    width: 12em;
}

/*Styling of html*/
#one {
    background-color: gray;
    border: 3px solid gray;
}

.html {
    margin: 14px;
    border: 3px solid gray;
    width: 28em;
    padding: 12px;
    background-color: white;
}

span {
    color: aqua;
}

/*Styling of hidden*/
.hidden {
    float: right;
    width: 12em;
}

#hide {
    color: rgb(255, 0, 98);
    font-family: cursive;
}

/*Styling of CSS*/
.css {
    margin: 14px;
    border: 3px solid gray;
    width: 28em;
    padding: 12px;
    background-color: white;
}

#csS {
    background-color: gray;
    border: 3px solid gray;
    width: 2em;
}

.CsS {
    color: rgb(255, 0, 98);
}

/*Styling of scroll*/
.scroll {
    float: right;
    width: 12em;
}

#Scroll {
    color: rgb(255, 0, 98);
    font-family: cursive;
}

/*Syling of Result*/
.result {
    margin: 12px;
    border: 3px solid gray;
    width: 28em;
    padding: 12px;
    background-color: white;
}

p.one {
    overflow: hidden;
    color: rgb(25, 128, 128);
}

p.two {
    overflow: scroll;
    color: rgb(25, 128, 128);
}

#ONE {
    color: royalblue;
}

#TWO {
    color: royalblue;
}

#Result {
    background-color: gray;
    border: 3px solid gray;
    width: 3em;
}

.right {
    float: right;
    width: 12em;
}